{{template "header"}}

{{range $key, $value := .config}}

    <h1>{{$value.Title}}</h1>
    <blockquote>{{$value.Description}}</blockquote>

    <br>

    <h2>Jobs</h2>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Command</th>
            <th>Interval</th>
            <th>Last executed</th>
            <th>Last exit code</th>
        </tr>
        </thead>
        <tbody>

        {{range $jobName, $job := $value.Jobs}}
            {{if $job.Interval}}

                <tr>
                    <td>{{$job.Name}}</td>
                    <td><code>{{$job.Command}}</code></td>
                    <td><code>{{$job.Interval}}</code></td>
                    <td>
                        {{if not $job.LastRunTime}}
                            <i>Never</i>
                        {{else}}
                            {{$job.LastRunTime.Format "2 Jan 2006 15:04:05"}}
                        {{end}}
                    </td>
                    <td>{{$job.LastExitCode}}</td>
                </tr>

            {{end}}
        {{end}}

        </tbody>
    </table>

    <br>

{{end}}

{{template "footer" . }}