{{template "header"}}

<h1>{{.config.Title}}</h1>
<blockquote>{{.config.Description}}</blockquote>

<br>

<h2>Jobs</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Command</th>
        <th>Interval</th>
    </tr>
    </thead>
    <tbody>

    {{range $key, $value := .config.Tasks}}
        <tr>
            <td>{{$key}}</td>
            <td><code>{{$value.Command}}</code></td>
            <td><code>{{$value.Interval}}</code></td>
        </tr>
    {{end}}

    </tbody>
</table>

{{template "footer" . }}